.music__card--container{
    margin-top:120px ;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.music__card{
    border: 1px solid #fff;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.music__card img{
    border-radius: 50%;
    height: 50px;
}

@media (max-width:700px){
    .music__card{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .music__card img{
        width: 20%;
    }
.audio{
    width: 100%;
}
.audio__details{
    display: flex;
    flex-direction: column;
}
}